body {
    background-image: url("../images/jasmine_background.png");
    position: static;
    text-align: center;
    font-family: "Arial";
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: initial;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    animation: linkHover 1s 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.main-container {
    top: 40%;
    width: 100%;
    position: absolute;
}

.main-title {
    font-size: 425%;
    font-weight: 500;
    font-family: "Courier New";
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
    animation: float 6s ease-in-out infinite;
}

@media screen and (min-width: 992px) {
    .main-title {
        animation: typeEffect 5s steps(24, end), float 6s ease-in-out infinite;
        white-space: nowrap;
    }
    body {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

.pfp {
    display: block;
    max-width: 25%;
    float: left;
    margin-right: 10px;
    border-radius: 3px;
}

@media screen and (max-width: 600px) {
    body {
        background-image: url("../images/jasmine_background_mobile.png");
    }
    .main-container {
        top: 30%;
    }
    .main-title {
        font-size: 15vw;
    }
    .pfp {
        display: none;
    }
}

.btn-container {
    width: 98%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.tab-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.tab {
    text-align: center;
    min-width: 20%;
    flex-grow: 1;
    color: dimgray;
    text-transform: uppercase;
    padding: 10px;
    -webkit-transition: .5s;
    transition: 0.5s;
}

.tab:hover, .tab-active {
    -webkit-transition: .5s;
    transition: 0.5s;
}

.toggle-container {
    position: fixed;
    right: 2%;
    top: 2%;
}

.toggle-text {
    text-transform: uppercase;
    font-weight: 600;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.5);
}


