.toggle-container {
    display: flex;
    align-items: center;
}
.toggle-text {
    display: inline-block;
    padding-right: 10px;
    vertical-align: middle;
}

.toggle {
    display: inline-block;
    cursor: pointer;
    height: max(1vw, 3vh);
    width: max(2vw, 6vh);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    text-align: left;
    overflow: hidden;
}

.toggle-btn {
    border-radius: inherit;
    cursor: pointer;
    height: 100%;
    width: 50%;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    transition: 0.2s;
}

.toggle-btn-enabled {
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    transition: 0.2s;
}