:root {
    --btn-color: rgba(250, 250, 250, 0.4);
    --btn-border-color: rgba(250, 215, 150, 0.3)
}

body {
    background-image: url("../images/jasmine_background.png");
    color: gray;
}

a {
    text-decoration: none;
    color: dimgray;
}

a:hover {
    text-decoration: none;
    color: darkgray;
    animation: linkHover 1s 1;
}

hr {
    border-bottom: none;
    border-top: solid 1px rgba(1, 1, 1, 0.25);
}

.main-title {
    color: gray;
}

.pfp {
    border: solid 5px rgba(235, 174, 52, 0.2);
}

@media screen and (max-width: 600px) {
    body {
        background-image: url("../images/jasmine_background_mobile.png");
    }
}

.modal-button, .modal-button:after, .modal-button:focus, .modal-button:before {
    background-color: var(--btn-color);
    color: gray;
    border: solid 1px var(--btn-border-color);
}

.modal-button:hover {
    background-color: rgba(255, 243, 212, 0.6);
    border: solid 1px rgb(255, 243, 212);
    color: gray;
}

.custom-modal {
    background-color: rgba(255, 237, 219, 0.95);
    color: dimgray;
    border: 3px solid rgba(255, 255, 255, 0.5);
}

.close-button:hover {
    color: darkgray;
}

.tab {
    color: dimgray;
    background-color: rgba(255, 255, 255, 0.25);
}

.tab:hover {
    color: grey;
    background-color: rgba(255, 255, 255, 0.75);
}

.active-tab {
    color: rgb(255, 185, 163) !important;
    background-color: rgba(255, 255, 255, 0.9) !important;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 221, 128, 0.7);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 221, 128);
}



