:root {
  --btn-color: rgba(250, 250, 250, 0.4);
  --btn-border-color: rgba(250, 215, 150, 0.3)
}

body {
  text-align: center;
  font-family: "Arial";
  background-image: url("jasmine_background.png");
  background-repeat:no-repeat;
  background-size: 100%, 100%;
  color: gray;
}

a {
  text-decoration: none;
  color: dimgray;
}

.main-container {
  top: 40%;
  width: 100%;
  position: absolute;
}

.main-title {
  font-size: 500%;
  font-weight: 500;
  color: gray;
  font-family: "Courier New";
  text-transform: uppercase;
  letter-spacing: 0.25em;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow: hidden;
  animation: typeEffect 5s steps(29, end), float 6s ease-in-out infinite;
}

.btn-container {
  width: 98%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.modal-button, .modal-button:after, .modal-button:focus, .modal-button:before {
  background-color: var(--btn-color);
  color: gray;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: solid 1px var(--btn-border-color);
  box-shadow: none;
  padding: 15px;
  width: 100%;
  outline: none;
}

.modal-button:hover {
  background-color: rgba(255, 243, 212, 0.6);
  border: solid 1px rgb(255, 243, 212);
  color: gray;
  cursor: pointer;
}

.close-button:hover {
  color: darkgray;
}

.tab-container {
  padding: 5px;
}

.tab {
  display: inline-block;
  text-align: center;
  min-width: 20%;
  color: dimgray;
  text-transform: uppercase;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.25);
  animation: unhighlightTabs 0.5s 1;
}

.tab:hover {
  color: rgb(255, 185, 163);
  background-color: rgba(255, 255, 255, 0.75);
  animation: highlightTabs 0.5s 1;
}

.active-tab {
  color: rgb(255, 185, 163) !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 205, 189, 0.7);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 205, 189);
}



